@import "./index.scss";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  color: red;
}

.ui.form {
  .iu.input {
    input {
      border: 1px  solid $border-grey-light;
      font-size: 16px;

    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .ui.button.submit {
    background-color: $primary;
    color: $font-light;
    margin: 0;

  }
}